<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/contact-us">Contact</a></li>
    </ul>
    </nav>

    <main>
        <h1>About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio mollitia numquam odit ab! Ea dicta praesentium
            voluptate necessitatibus et quae corporis, consectetur in repellendus, vel quibusdam maxime earum illum
            impedit.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae doloremque cumque praesentium dolore soluta
            totam? Porro, ipsum? Exercitationem, voluptate. Tenetur qui ea delectus eius excepturi minus quo porro nulla
            similique labore id non nam atque sint, modi quia molestias dolores voluptatum et perspiciatis, iusto,
            maiores voluptatibus nostrum? Error repudiandae ut odio laborum ipsam distinctio, at veniam temporibus
            obcaecati, quasi eius debitis ab nihil qui magnam soluta impedit quas, similique iure. Accusamus voluptas
            quaerat veritatis deleniti ex perspiciatis autem, magni enim dolore consequuntur doloremque optio sint,
            quibusdam nam beatae tempore adipisci pariatur? Beatae repudiandae possimus laboriosam corporis nam mollitia
            cum accusamus, explicabo, nulla molestias ad. Excepturi facere officia id incidunt, sapiente saepe dolore
            veritatis commodi nemo labore pariatur exercitationem velit, maxime, veniam ipsa praesentium quisquam.
            Laudantium, explicabo voluptate! Consectetur provident saepe exercitationem distinctio adipisci voluptatem
            voluptate, tempora quas ex inventore expedita veritatis incidunt culpa quisquam perspiciatis obcaecati
            laboriosam soluta sit similique neque velit enim cum commodi. Distinctio consequatur, est nostrum rerum
            magni quis facilis! Excepturi quia laborum quo! Temporibus nemo vitae natus harum quis culpa reiciendis nam.
            Vel provident maxime quis molestias, mollitia cum fugiat. Porro quas quisquam sequi sunt minus amet
            deserunt, esse ipsam aperiam, repellat enim atque eum quis?
        </p>
    </main>
    </body>

</html>