<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>

    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/contact-us">Contact</a></li>
    </ul>
    </nav>

    <main>
        <h1>About Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio mollitia numquam odit ab! Ea dicta praesentium
            voluptate necessitatibus et quae corporis, consectetur in repellendus, vel quibusdam maxime earum illum
            impedit.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde ad minima blanditiis veritatis vero
            voluptates quibusdam sint animi temporibus beatae. Ea pariatur sunt cum dolorem eius dolores officiis.
            Suscipit, eligendi!
        </p>
    </main>
    </body>

</html>