<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>

<body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact-us">Contact</a>

    <h1>Contact Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea at eum rerum qui saepe fugiat dolore, incidunt veniam
        deserunt debitis ipsam ipsum officiis? Expedita fugiat maiores animi placeat aut. Corrupti?</p>
</body>

</html>