{% extends "layout.html" %}
{% block title %} Products Page {% endblock %}
{% block content %}
<form action="/products" method="post">
    <label for="">Product name</label>
    <input type="text" name="name">
    <label for="">Buying price</label>
    <input type="number" name="bp">
    <label for="">Selling price</label>
    <input type="number" name="sp">
    <label for="">stock quantity</label>
    <input type="number" name="stq">
    <button type="submit">add</button>
</form>



<table id="myTable" border="3">
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>buying price</th>
            <th>selling price</th>
            <th>stock quantity</th>
        </tr>
    </thead>
    <tbody>
        {% for p in products %}
        <tr>
            <td>{{p[0]}}</td>
            <td>{{p[1]}}</td>
            <td>{{p[2]}}</td>
            <td>{{p[3]}}</td>
            <td>{{p[4]}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}