{% extends "layout.html" %}
{% block title %} Register Page {% endblock %}
{% block content %}
<form action="/register" method="post">
    <label for="username">Username</label>
    <input type="text" name="fullname" id="">
    <label for="email">Email</label>
    <input type="email" name="emailaddress" id="email" required placeholder="Enter your email address">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required placeholder="Enter your password">
    <button type="submit">Login</button>
</form>
{% endblock %}